body {
    display:flex;
    flex-direction: column;
    background-color: #14213d;
}

.section {
    color: #d8b49c;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.section.two {
    flex-direction: column;
}

.section.two > * {
    margin:20px;
}

.game.options {
    display: flex;
    
}

.btn {
    margin: 10px 30px;
    font-size: 2em;
    background-color: #14213d;
    border-style: solid;
    border-color: #fca311;
    color: #fca311;
    padding: 0.2em 1em;
    border-radius: 1em;
    transition: border-radius 0.25s, border-color 0.25s, color 0.25s, transform 0.25s ;
}

.btn:hover{
    border-radius: 1em;
    border-style: solid;
    border-color: white;
    color: white;
    transform: translateY(-0.2em);
    box-shadow: 0px 2px 2px 2px;
    cursor: pointer;
}

.game.left{
    font-size:1.2em;
}